.authpage {
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgba(29, 29, 29, 1);
  background-image: url("../../../../public/images/loginBg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .authInner {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}