.mainVideoWrap {
  position: relative;
  width: 100%;
  height: 110vh;

  >video {
    z-index: 0;
  }

  .videoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    backdrop-filter: blur(12px);
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.2), inset 1px 1px 0 rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);

    >img {
      width: 55%;
    }
  }

  .bottomRadius {
    position: absolute;
    width: 100%;
    height: 14rem;
    background-color: #fff;
    border-radius: 2.4rem 2.4rem 0 0;
    bottom: 0;
  }
}