.mainPullImgBox {
  position: relative;

  .mainPullImgInner {

    .mainImgTextBox {
      position: absolute;
      top: 45%;
      display: flex;
      flex-direction: column;
      color: #fff;
      gap: 2rem;

      .titleText {
        font-size: 3.6rem;
        font-weight: 600;
      }

      .subText {
        font-size: 1.6rem;
        font-weight: 400;
        display: flex;
        flex-direction: column;
      }
    }
  }
}