.mainExclusiveWrap {
  width: 100%;
  min-height: 80rem;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;

  .exWrapInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    .exWrapInnerTop {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .exWrapInnerBottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      width: 80%;
    }
  }
}