.bestItemSwiperWrap {

  .swiper {
    // overflow: visible;

    .swiper-wrapper {

      .swiper-slide {
        transition: transform 0.6s ease, opacity 0.6s ease;
        // opacity: 0.4;
        transform: scale(0.9);
      }

      .swiper-slide-active {
        opacity: 1;
        transform: scale(1.05);
        z-index: 10;
      }

      .swiper-slide-prev,
      .swiper-slide-next {
        opacity: 0.7;
        transform: scale(0.9);
      }

    }

    .bestItemWrapPagination {
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
        background-color: #d9d9d9;
        opacity: 1;
        border-radius: 5px;
        transition: all 0.3s ease;
      }

      .swiper-pagination-bullet-active {
        width: 3rem;
        background-color: #d9d9d9;
        border-radius: 5px;
      }
    }
  }
}