.intBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .intText {
    color: #686868;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .intBar {
    width: 100%;
    height: 1rem;
    border-radius: 5px;
    background: #F1F1F1;
    overflow: hidden;

    .intBarFill {
      height: 100%;
      background-color: #CBA98C;
      border-radius: 5px;
    }
  }
}