.fraCollectionWrap {
  display: flex;
  // width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
  // overflow: visible;

  .fraColInnerLeft {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: flex-end;
    padding: 8rem 3rem;

    .fraCollectionTitle {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .fraTextTitle {
        font-size: 3.6rem;
        font-weight: 600;
      }

      .fraTextSub {
        color: #959595;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    .fraColSwiperBtns {

      .fraColSwiperBtn {
        border: 1px solid #AC8D71;
        border-radius: 100%;
        aspect-ratio: 1 / 1;
        background-image: url('../../../../../public/icon/arrowRightGold.svg');
        display: flex;
        width: 3rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-items: center;

      }
    }
  }

  .fraColInnerRight {
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .swiperMask{
      overflow: hidden;
      padding-top: 6rem;
    }
  }
}