.fraCard {
  border-radius: 12px;
  border: 2px solid rgba(214, 189, 166, 0.80);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(2px);
  position: relative;
  overflow: visible;

  .fraCardInner {
    display: flex;
    align-items: center;
    padding: 0 0 0 52%;
    min-height: 28rem;

    .cardInnerLeft {
      position: absolute;
      left: -1.2rem;
      bottom: -1.3rem;
      width: 60%;

      img {
        width: 100%;
        display: block;
      }
    }

    .cardInnerRight {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 85%;

      .cardRightTop {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .cardTextTitle {
          font-size: 1.6rem;
          font-weight: 500;
          color: #1d1d1d;
        }

        .cardTextSub {
          color: #686868;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
}