.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  // transition: height 0.4s ease;
  z-index: 1000;

  .headerInner {
    display: flex;
    justify-content: space-between;
    // height: 100%;
    padding-top: 2rem;
    // position: relative;

    .glassbox {
      border: 1px solid black;
    }

    .headerInnerLeft {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;

      .headerLeftLogo {
        aspect-ratio: 1 / 1;
        width: 5.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;

        >img {
          display: block;
          width: 5.8rem;
          max-width: 70%;
          max-height: 70%;
        }
      }

      .headerLeftMenu {
        border-radius: 5rem;
        position: relative;

        .mainMenu {

          &.open {

            .dropdownArea {
              display: block;
              gap: 7rem;
              padding: 0 2.4rem;

              .dropdownPanel {
                position: absolute;
                inset: 0;
                // opacity: 0;
                pointer-events: none;
                display: flex;
                gap: 7rem;
                padding: 4rem 10rem;
                transition: opacity 0.25s ease;
              }
            }

            // height: 42rem;
          }

          .mainMenuList {
            display: flex;
            // justify-content: space-between;
            gap: 4.8rem;

            .mainMenuItem {
              display: flex;
              flex-direction: column;

              .mainMenuBtn {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                padding: 1.8rem 2.4rem;
              }
            }
          }
        }

        .dropdownArea {
          display: none;
          // display: flex;
          gap: 7rem;
          padding: 0 2.4rem;

          .dropdownPanel {
            position: absolute;
            inset: 0;
            opacity: 0;
            pointer-events: none;
            display: flex;
            gap: 7rem;
            padding: 4rem 10rem;
            transition: opacity 0.25s ease;
          }

          // &.active {
          //   opacity: 1;
          //   pointer-events: auto;
          // }
        }
      }
    }

    .headerInnerRight {
      width: 20%;

      .sideBar {
        display: flex;
        border: 1px solid black;

        >a {
          width: 5%;

        }
      }
    }
  }
}