.authLayout {
  display: flex;
  width: 52%;
  height: 70%;
  border-radius: 12px;
  // background: rgba(255, 255, 255, 0.70);
  // background-color: #ccc;
  position: absolute;
  overflow: hidden;

  .authLeft {
    width: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    .authVisual {

      >img {
        width: 4.8rem;
      }
    }
  }

  .authRight {
    width: 50%;
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}