.loginSection {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  // border: 1px solid red;
  width: 70%;

  .loginTitle {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .loginFormTop {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .loginInputWrap {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >label {
          position: relative;

          >input {
            background-color: #fff;
            border-radius: 8px;
            width: 100%;
            padding: 1.4rem 1rem;
          }

          .togglePwBtn {
            position: absolute;
            cursor: pointer;
            top: 24%;
            right: 3%;
            background-image: url(../../../../../public/icon/togglePwBtn.svg);
            background-repeat: no-repeat;
            width: 2.4rem;
            height: 2.4rem;
            display: inline-block;
            background-position: center center;
            background-size: cover;

            &.active {
              background-image: url(../../../../../public/icon/togglePwBtnActive.svg);
            }
          }
        }

        >button {
          background-color: #686868;
          border-radius: 8px;
          color: #fff;
          font-size: 1.6rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1.2rem 1rem;
        }
      }

      .findIdPw {
        display: flex;
        color: #4f4f4f;
        gap: 1rem;
        font-size: 1.2rem;
        font-weight: 400;
        align-items: center;
        justify-content: center;
      }
    }

    .loginFormBottom {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;

      .loginLine {
        display: flex;
        gap: 1.2rem;
        width: 100%;
        align-items: center;

        .line {
          display: block;
          width: 38%;
          height: 1px;
          background-color: #4f4f4f;
        }

        .loginLineTitle {
          font-size: 1.2rem;
          font-weight: 400;
          color: #4f4f4f;
        }
      }

      .snsLoginWrap {
        display: flex;
        width: 80%;
        align-items: center;

        >ul {
          width: 100%;
          display: flex;
          justify-content: space-between;

        }
      }
    }
  }
}