.signupSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;

  .signupTitleWrap {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    justify-content: space-between;
    width: 60%;

    .signupBackBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(../../../../../public/icon/arrowLeftGrey.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-width: 2.4rem;
    }
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .signupInputWrap {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      label {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .idInput {
          display: flex;
          justify-content: space-between;

          >#name {
            width: 68%;
          }
        }

        .pwInput {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .emailInput {

          >#email {
            width: 100%;
          }
        }

        .phoneInput {
          display: flex;
          justify-content: space-between;

        }

        input {
          background-color: #fff;
          border-radius: 8px;
          padding: 1.4rem;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #d9d9d9;
          padding: 1.4rem 3rem;
          color: #686868;
          border-radius: 8px;
          font-size: 1.2rem;
        }

      }

      .inputLabel {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    .signupBtn{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #686868;
      border-radius: 8px;
      color: #fff;
      padding: 1.2rem 0;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}